/* =========================
   GLOBAL TEXT DEFAULTS
   ========================= */

@font-face {
    font-family: "Pixelated Elegance"; /* Regular */
    src: url("../asset/fonts/PixelFontRegular.ttf");
}

@font-face {
    font-family: "Mozart NBP"; /* Monospace */
    src: url("../asset/fonts/PixelFontMono.ttf");
}

.root {
    -fx-font-family: "Pixelated Elegance", "Inter", "Segoe UI", system-ui, sans-serif;
    -fx-font-size: 16px;
    -fx-font-smoothing-type: gray;
    -fx-text-fill: #222;
}

/* Prevent focus outlines from affecting text */
*:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}




