.level-select-button {
    -fx-background-color: #37946e;
    -fx-border-color: #233f10;
    -fx-border-width: 5;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-alignment: CENTER;
    -fx-font-size: 54px;
    -fx-text-fill: #FBF6F6;
    -fx-font-weight: bold;
    /* Hovering */
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-cursor: hand;
}

.level-select-button:hover {
    -fx-background-color: #4dbd8d;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 0, 5);
}

.level-select-button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.level-select-grid {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-alignment: center;
    /*
    -fx-border-color: #233f10;
    -fx-border-width: 5;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: LIGHTGRAY;
    */
}

.game-tile {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;

    -fx-background-color: rgb(216, 216, 216);
    -fx-border-color: rgb(139, 139, 139);
    -fx-border-width: 1;

    -fx-border-radius: 0;
    -fx-background-radius: 0;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.level-title {
    -fx-font-size: 48px;
    -fx-padding: 16;
    -fx-font-weight: bold;
    -fx-text-fill: BLACK;
}


.game-grid {
    -fx-hgap: 0;
    -fx-vgap: 0;
    -fx-alignment: center;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.tooltip {
    -fx-background-color: rgba(255,255,255, 0.8);
    -fx-text-fill: black;
    -fx-padding: 8;
    -fx-border-color: yellow;
    -fx-border-width: 2;
}




